body
{
    background-color: rgb(194, 212, 190);
}

.H2
{
    padding-left: 10%;
    padding-right: 10%;
}

.p
{
    text-align: center;
}

div.gallery1 {
    padding-left: 5%;
    padding-right: 5%;
    margin: 5px;
    width: 150px;
    transform: translate(50px, 100px);
  }
div.gallery1 :hover {
    border: 2px solid #777; 
  }
div.gallery1 img {
    width: 100%;
    height: auto;
} 

div.gallery2 {
    padding-left: 5%;
    padding-right: 5%;
    margin: 5px;
    width: 150px;
    transform: rotate(20deg);
  }
div.gallery2:hover {
    border: 2px solid #777; 
  }
div.gallery2 img {
    width: 100%;
    height: auto;
}

div.gallery3 {
    padding-left: 5%;
    padding-right: 5%;
    margin: 5px;
    width: 150px;
    transform: scaleX(2);
  }
div.gallery3:hover {
    border: 0.1px solid #777; 
  }
div.gallery3 img {
    width: 100%;
    height: auto;
}

div.gallery4 {
    padding-left: 5%;
    padding-right: 5%;
    margin: 5px;
    width: 150px;
    transform: scaleY(1.3);
}
div.gallery4:hover {
    border: 2px solid #777; 
  }
div.gallery4 img {
    width: 100%;
    height: auto;
}

div.gallery5 {
    padding-left: 5%;
    padding-right: 5%;
    margin: 5px;
    width: 150px;
    transform: scale(1, 1);
}
div.gallery5:hover {
    border: 2px solid #777; 
  }
div.gallery5 img {
    width: 100%;
    height: auto;
}

div.gallery6 {
    padding-left: 5%;
    padding-right: 5%;
    margin: 5px;
    width: 150px;
    transform: skewX(20deg);
}
div.gallery6:hover {
    border: 2px solid #777; 
  }
div.gallery6 img {
    width: 100%;
    height: auto;
}

div.gallery7 {
    padding-left: 5%;
    padding-right: 5%;
    margin: 5px;
    width: 150px;
    transform: skewY(20deg);
}
div.gallery7:hover {
    border: 2px solid #777; 
  }
div.gallery7 img {
    width: 100%;
    height: auto;
}

div.gallery8 {
    padding-left: 5%;
    padding-right: 5%;
    margin: 5px;
    width: 150px;
    transform: skew(20deg);
}
div.gallery8:hover {
    border: 2px solid #777; 
  }
div.gallery8 img {
    width: 100%;
    height: auto;
}

div.gallery9 {
    padding-left: 5%;
    padding-right: 5%;
    margin: 5px;
    width: 150px;
    transform: matrix(1, -0.3, 0, 1, 0, 0);
}
div.gallery9:hover {
    border: 2px solid #777; 
  }
div.gallery9 img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
}

.container{
display: flex;
align-items: center;
justify-content: center;
}

.d3d1{
    padding-left: 5%;
    padding-right: 5%;
    margin: 5px;
    width: 150px;;
}

div.d3d1 img{
    padding: 25%;
    width: 100%;
    height: auto;
}

div.d3d1 img:hover{
    border: 2px solid #777; 
}
#A{
    transform: rotateX(130deg);
}
#B{
    transform: rotateY(100deg);
}
#C{
    transform: rotateZ(99deg);
}